<div id="sidebar-map-container-id" class="sidebar-map-container" onClick="closeSidebar()">
    <div id="sidebar-map-content" class="sidebar-map-content" onClick="event.stopPropagation()">
        <form id="form-survey-create" method="post" action="{% url 'survey_create' %}">
            {% csrf_token %}
            <label for="fname">Survey name:</label><br>
            <input type="text" id="fname" name="name" value="name"><br>
            <label for="lname">Survey description:</label><br>
            <input type="text" id="lname" name="description" value="description"><br><br>
            <input id="form-survey-create-submit" type="submit" value="Submit">
        </form>
    </div>
</div>