{% load static %}

        <section class="masthead" style="background-color: #1C1F23;">
            <section class="page-section" id="survey-question">
                <div class="py-5">
                    <div class="container">
                        <div class="text-center">
                            <div class="row align-items-center">
                                <div class="col-md-12 col-sm-12 my-3">
                                    <h2 class="section-heading text" style="color: white">
                                        {{ question.text }}
                                    </h2>
                                </div>


                                {% if question.is_geospatial %}
                                    <div class="col-md-6 col-sm-12 my-3">
                                        <h2 class="section-heading text" style="color: white">
                                            [Insert map]
                                        </h2>

                                    </div>

                                    <div class="col-md-6 col-sm-12 my-3">
                                        {% if question.question_type == "text" %}
                                            <textarea class="form-control" id="spatial-input-text" placeholder="Your answer" rows="3"></textarea>
                                            <!--&lt;!&ndash;<input type="submit" value="Answer">&ndash;&gt;-->
                                        {% endif %}

                                        {% if question.question_type == "short-text" %}
                                            <input type="text" class="form-control" id="spatial-input-short-text" placeholder="Your answer">
                                        {% endif %}
                                    </div>

                                {% else %}
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        {{form}}
                                        <input type ="submit" value={{button_value}} class="btn btn-primary btn-xl text-uppercase">
                                    </form>

                                    <!--
                                    <div class="col-md-12 col-sm-12 my-3">
                                        {% if question.question_type == "text" %}
                                            <textarea class="form-control" id="input-text" placeholder="Your answer" rows="3"></textarea>
                                        {% endif %}

                                        {% if question.question_type == "short-text" %}
                                            <input type="text" class="form-control" id="input-short-text" placeholder="Your answer">
                                        {% endif %}
                                    </div>
                                    -->

                                {% endif %}
                            </div>

                        </div>
                    </div>

                </div>

            </section>
        </section>

