{% load static %}
<!-- About-->
        <header class="masthead" style="background-image: url({% static 'respondent/assets/img/header.svg' %});">
            <section class="page-section" id="survey-details">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text">{{ survey.name }}</h2>
                        <h3 class="section-subheading text-muted">By {{ survey.designer }}</h3>
                        <h3 class="section-subheading text">{{ survey.description }}</h3>
                        <!--#TODO: create response object on click and navigate to the first question-->
                        <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'respondent-home' %}/{{ survey.pk }}/question/1/">
                            Start Answering!
                        </a>
                    </div>
                </div>
            </section>
        </header>
