{% load static %}
        <header class="masthead" style="background-image: url({% static 'respondent/assets/img/header.svg' %});">
            <div class="container">
                <div class="masthead-subheading">Welcome to Citizen Voice!</div>
                <div class="masthead-heading text">This is a channel for you to voice your experiences, needs, and aspirations.</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#portfolio">Start Answering!</a>
            </div>
        </header>
